<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<link rel="icon" href="../assets/img/common/favicon.ico">
<link rel="apple-touch-icon" href="../assets/img/common/webclipicon.png">
<title>お問い合わせ | CycleTrip</title>
<link href="../assets/css/reset.css" rel="stylesheet">
<link href="../assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NFFPZ4S');</script>
<!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFFPZ4S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--[fb]-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--[/fb]-->

<!--[header]-->
<header id="global-header">
	<div class="sp-none">
		<div class="global-header-inner">
			<div class="global-header-item">
				<h1 id="global-catch">『CycleTrip（サイクルトリップ）』は、個人間でスポーツ自転車をシェアするサービスです。</h1>
				<p id="global-logo"><a href="index.html"><img alt="CycleTrip" src="../assets/img/common/logo.png" class="img-fluid"></a></p>
			</div>
			<div class="global-header-item">
				<nav id="global-nav-wrap">
					<ul id="global-nav-lang" class="global-nav-unit">
						<li class="global-nav-item"><a href="" class="global-nav-link disabled" tabindex="-1">JP</a></li>
						<li class="global-nav-item"><a href="" class="global-nav-link">EN</a></li>
					</ul>
					<ul id="global-nav-menu" class="global-nav-unit">
						<li class="global-nav-item"><a href="" class="global-nav-link">Bikeを探す</a></li>
						<li class="global-nav-item"><a href="" class="global-nav-link">Bikeをシェアする</a></li>
						<li class="global-nav-item dd-trigger">
							<div class="global-nav-badge">マイページ<span class="badge">2</span></div>
							<ul class="dd-body">
								<li class="dd-item"><a href="" class="dd-link">マイページ</a></li>
								<li class="dd-item"><a href="" class="dd-link">シェア履歴／ライド履歴</a></li>
								<li class="dd-item"><a href="" class="dd-link">チャットリスト</a></li>
								<li class="dd-item"><a href="" class="dd-link">ロードサービス</a></li>
								<li class="dd-item"><a href="" class="dd-link">ログアウト</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="pc-none">
		<div class="global-header-inner">
			<div class="global-header-item">
				<p id="global-logo-sm"><a href="index.html"><img alt="CycleTrip" src="../assets/img/common/logo.png" class="img-fluid"></a></p>
				<ul id="global-nav-sm">
					<li class="global-nav-sm-item drawer-trigger"><i class="icon icon-drawer"></i><span class="badge"></span></li>
				</ul>
			</div>
		</div>
		<div id="drawer-wrap">
			<div id="drawer-unit">
				<div id="drawer-header">
					<ul id="drawer-lang">
						<li class="drawer-lang-item"><a href="" class="drawer-lang-link disabled" tabindex="-1">JP</a></li>
						<li class="drawer-lang-item"><a href="" class="drawer-lang-link">EN</a></li>
					</ul>
					<button type="button" class="drawer-trigger"><i class="icon icon-close1"></i></button>
				</div>
				<nav id="drawer-body">
					<ul id="drawer-nav">
						<li class="drawer-nav-item"><a href="" class="drawer-link">HOME</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">マイページ</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">スポーツバイクを探す</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">スポーツバイクをシェアする</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">シェア履歴／ライド履歴</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">チャットリスト<span class="badge">2</span></a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">クーポン</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">ロードサービス</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">よくあるご質問</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">お知らせ</a></li>
						<li class="drawer-nav-item"><a href="" class="drawer-link">ログアウト</a></li>
					</ul>
				</nav>
				<div id="drawer-footer">
					<p id="drawer-logo"><img alt="" src="../assets/img/common/logo.png" class="img-fluid"></p>
					<ul class="app-bnr">
						<li class="app-bnr-item"><a href="" target="_blank"><img alt="" src="../assets/img/app/app-bnr-apple.png" class="img-fluid"></a></li>
						<li class="app-bnr-item"><a href="" target="_blank"><img alt="" src="../assets/img/app/app-bnr-google.png" class="img-fluid"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!--[/header]-->

<!--[content-wrap]-->
<div id="content-wrap">
	<div id="page-header">
		<div class="inner">
			<ul id="breadcrumb">
				<li class="breadcrumb-item"><a href="index">HOME</a></li>
				<li class="breadcrumb-item">お問い合わせ</li>
			</ul>
			<p id="page-title">お問い合わせ</p>
		</div>
	</div>
	<div id="inquiry-wrap">
		<div class="content-section-sm">
			<div class="inner">
				<ul class="list-disc">
					<li class="list-disc-item">弊社お問い合わせ時間内に順次対応させていただきます。（お問い合わせ返答時間：9:00~18:00　平日）</li>
					<li class="list-disc-item">お問い合わせ内容によっては、お時間を頂戴する場合や、お答えしかねる場合もございます。あらかじめご了承くださいませ。</li>
				</ul>
			</div>
        </div>
    <form [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
		<div class="content-section-sm">
			<div class="inner">
				<div class="headline-wrap headline-wrap-sm">
					<h2 class="headline">スポーツバイク情報</h2>
					<div class="headline-aside">
						<p class="required">* 必須項目</p>
					</div>
				</div>
				<div class="column-wrap">
					<div class="column-body">
						<div class="column-row">
							<div class="column-label">タイトル<span class="required">*</span></div>
							<div class="column-item">
								<select class="form-select">
									<option selected disabled>選択してください</option>
									<option value="">登録について</option>
									<option value="">料金について</option>
									<option value="">シェア取引について</option>
									<option value="">事故・トラブルについて</option>
									<option value="">補償・ロードサービスについて</option>
									<option value="">退会・お客様情報について</option>
									<option value="">売上金について</option>
									<option value="">その他のお問い合わせ</option>
									<option value="">サービスへのご意見・ご要望</option>
								</select>
							</div>
						</div>
						<div class="column-row">
							<div class="column-label">お問い合わせ内容<span class="required">*</span></div>
							<div class="column-item">
								<textarea placeholder="お問い合わせ内容を1,000文字以内でご入力ください。" rows="8" class="form-textarea" [formControlName]="'content'"></textarea>
								<span style="color: red;" *ngIf="msgContent" [innerHTML]="msgContent"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-section-sm">
			<div class="inner">
				<div class="headline-wrap headline-wrap-sm">
					<h2 class="headline">お客様情報</h2>
					<div class="headline-aside">
						<p class="required">* 必須項目</p>
					</div>
				</div>
				<div class="column-wrap">
					<div class="column-body">
						<div class="column-row">
							<div class="column-label">お名前<span class="required">*</span></div>
							<div class="column-item">
								<div class="form-group">
                                    <div class="form-group-item">
										<input type="text" placeholder="姓" class="form-input" [formControlName]="'lastNameHira'">
										<span style="color: red;" *ngIf="msgLastNameHira" [innerHTML]="msgLastNameHira"></span>
									</div>
                                    
									<div class="form-group-item">
										<input type="text" placeholder="名" class="form-input" [formControlName]="'firstNameHira'">
										<span style="color: red;" *ngIf="msgFirstNameHira" [innerHTML]="msgFirstNameHira"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="column-row">
							<div class="column-label">フリガナ<span class="required">*</span></div>
							<div class="column-item">
								<div class="form-group">
                                    <div class="form-group-item">
										<input type="text" placeholder="セイ" class="form-input" [formControlName]="'lastNameKata'">
										<span style="color: red;" *ngIf="msgLastNameKata" [innerHTML]="msgLastNameKata"></span>
									</div>
                                    
									<div class="form-group-item">
										<input type="text" placeholder="メイ" class="form-input" [formControlName]="'firstNameKata'">
										<span style="color: red;" *ngIf="msgFirstNameKata" [innerHTML]="msgFirstNameKata"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="column-row">
							<div class="column-label">メールアドレス<span class="required">*</span></div>
							<div class="column-item">
								<input type="text" placeholder="samplemail@xxxx.xx" class="form-input" [formControlName]="'email'">
								<span style="color: red;" *ngIf="msgEmail" [innerHTML]="msgEmail"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-section">
			<div class="inner">
				<div id="inquiry-footer">
					<div class="inquiry-footer-item">
						<div class="form-check-text">
							<div class="form-check-item">
								<label class="form-check">
									<input type="checkbox">
									<span class="form-check-label"></span>
								</label>
								<p><a href="" class="link-line link-black">プライバシーポリシー</a>に同意する</p>
							</div>
						</div>
					</div>
					<div class="inquiry-footer-item">
						<button type="submit" class="btn btn-green">入力内容を確認する</button>
					</div>
				</div>
			</div>
        </div>
    </form>
	</div>
</div>
<!--[/content-wrap]-->
	
<!--[footer]-->
<footer id="global-footer">
	<div class="inner">
		<nav id="footer-nav-wrap">
			<ul class="footer-nav-item">
				<li><a href="">HOME</a></li>
				<li><a href="">はじめてご利用の方へ</a></li>
				<li><a href="">スポーツバイクを探す</a></li>
				<li><a href="">スポーツバイクをシェアする</a></li>
			</ul>
			<ul class="footer-nav-item sp-none">
				<li><a href="">人気ランキング</a></li>
				<li><a href="">新着のスポーツバイク</a></li>
				<li><a href="">スタッフのイチ押し</a></li>
				<li><a href="">みんなのサイクリングスポット</a></li>
			</ul>
			<ul class="footer-nav-item">
				<li><a href="">ご利用ガイド</a></li>
				<li><a href="">よくあるご質問</a></li>
				<li><a href="">お問合せ</a></li>
				<li><a href="">利用規約</a></li>
				<li><a href="">ログイン</a></li>
			</ul>
			<ul class="footer-nav-item footer-nav-aside">
				<li><a href="">運営会社</a></li>
				<li><a href="">特定商取引法の表記</a></li>
				<li><a href="">プライバシーポリシー</a></li>
			</ul>
			<div class="footer-nav-app">
				<p id="footer-nav-logo"><img alt="" src="../assets/img/common/logo.png" class="img-fluid"></p>
				<ul class="app-bnr">
					<li class="app-bnr-item"><a href="" target="_blank"><img alt="" src="../assets/img/app/app-bnr-apple.png" class="img-fluid"></a></li>
					<li class="app-bnr-item"><a href="" target="_blank"><img alt="" src="../assets/img/app/app-bnr-google.png" class="img-fluid"></a></li>
				</ul>
			</div>
		</nav>
		<p id="copyright">Copyright &copy; 2018 ZuttoRide Sharing Corporation All Rights Reserved.</p>
	</div>
</footer>
<!--[/footer]-->

<!--[js]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script src="../assets/js/common.js"></script>
<!--[addition]-->
<!--[/js]-->
</body>
</html>