/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1em;
    background-color: white;
}

.search-area {
    border-bottom: 1px solid black;
}

.line {
    margin-top: 20px;
    line-height: 1em;
    font-size: 2em;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.search-box {
    height: 40px;
    width: 14em;
    transform: (-50%, -50%);
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

.search-btn {
    color: black;
    float: right;
    width: 35px;
    height: 35px;
    margin: 1px 1px 1px 1px;
    border-radius: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-txt {
    margin-left: 10px;
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    line-height: 40px;
    justify-content: center;
    align-content: center;
    font-size: 14px;
}

.reload-btn {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: #1E1E1E;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.anim-typewriter {
    animation: typewriter 5s steps(20) 1s 1 normal both,
    blinkTextCursor 700ms steps(20) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 11em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

.side-bar {
    border-right: 1px solid black;
    overflow-y: auto;
}

.class-menu {
    height: 150px;
    overflow-y: auto;
    border-bottom: 1px solid black;
}

.method-menu {
    height: 370px;
    overflow-y: auto;
}

.list-item {
    width: 100%;
    list-style-type: none;
}

.list-item li {
    width: 100%;
    padding-left: 2.5%;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
}

.list-item-active {
    color: black;
    background-color: limegreen;
    transition: 0.3s;
}

.table-unborder,
.table-unborder tr,
.table-unborder th {
    border: none;
    font-weight: normal;
}

.description-area {
    height: 250px;
    overflow: auto;
}

.input-area {
    height: auto;
    overflow: initial;
}

.input-txt {
    width: 100%;
    padding-left: 1%;
    box-sizing: border-box;
    background: none;
    border: 1px solid black;
    outline: none;
    color: black;
}

.result-area {
    width: 100%;
    padding-left: 1%;
    min-height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
}

.btn-submit {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
    background-color: limegreen;
    border: 1px solid black;
    outline: none;
    transition: 0.3s;
}

.btn-submit:hover {
    color: white;
    background-color: blue;
    transition: 0.3s;
}

.terminal {
    min-height: 72px;
    border: 1px solid black;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: limegreen;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.glowing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.glowing span {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
}

.glowing span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    width: 10px;
    height: 10px;
    background: #ff0;
    border-radius: 50%;
}

.glowing span:nth-child(1) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: animate 4s linear infinite;
}

.glowing span:nth-child(1):before {
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1),
                0 0 40px rgba(0, 0, 0, 1),
                0 0 60px rgba(0, 0, 0, 1),
                0 0 80px rgba(0, 0, 0, 1),
                0 0 100px rgba(0, 0, 0, 1),
                0 0 0 4px rgba(0, 0, 0, 0.1);
}

.glowing span:nth-child(2) {
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    animation: animate-reverse 3s linear infinite;
}

.glowing span:nth-child(2):before {
    background: rgba(255, 0, 0, 1);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1),
                0 0 40px rgba(255, 0, 0, 1),
                0 0 60px rgba(255, 0, 0, 1),
                0 0 80px rgba(255, 0, 0, 1),
                0 0 100px rgba(255, 0, 0, 1),
                0 0 0 4px rgba(255, 0, 0, 0.1);
}

.glowing span:nth-child(3) {
    top: 120px;
    left: 120px;
    right: 120px;
    bottom: 120px;
    animation: animate 2s linear infinite;
}

.glowing span:nth-child(3):before {
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1),
                0 0 40px rgba(0, 226, 255, 1),
                0 0 60px rgba(0, 226, 255, 1),
                0 0 80px rgba(0, 226, 255, 1),
                0 0 100px rgba(0, 226, 255, 1),
                0 0 0 4px rgba(0, 226, 255, 0.1);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}